body {
  /*background-image: ;*/
  background-color: #7b337d  ;
  text-align:left;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
title {
  color: rgb(12, 73, 255);
  font-size: 35px;
}

.nadp {
  display: flex;
  background-color: rgb(59, 59, 255)  ;
  text-align: start;
  gap: 35px;
  flex-direction: row;
  justify-content:left;
  align-items: start;
  padding-left: 40px;
  /*padding-block: ;*/
  font-size: 28px;
}

header {
  color: rgb(36, 24, 212);
  font-size: 88px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: start;
}
.maintxt { /* no size*/
  display: flex;
  color:#fbd5e2; /*rgb(148, 177, 255);*/ /* inf temp */
  flex-direction: column;
  align-items: start;
  padding: 20px;
  /*justify-content:start;*/
  font-size: 30px;
}

h1 {
  font-size: 62px;
  padding-left: 35px;
  padding-right: 40px;
}

h2 {
  font-size: 58px;
}

a {
  color: aquamarine;
}

.odkz {
  font-size: 34px;
}

.contr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*margin-left: 850px;;
  margin-right: 0px;
  gap: 25px;*/
}

#amaz {
  display: none;
  max-width: 300px;
  margin-top: 20px;
  }