body {
  background-color: rgb(66, 33, 136);
}
.hlav {
  color: rgb(95, 84, 243);
  size: 38px;
}
.infinitetemperature {
  color: rgb(148, 177, 255);
  size: 26px;
}
title {
  color: rgb(12, 73, 255);
  size: 35px;
}

