/* Page structure */
body {
  /*background-image: ;*/
  background-color: #ffffff ;
  display: flex;
  text-align:left;
  margin: 0px; 
  flex-direction: column;
  font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma, sans-serif;
}

title {
  color: rgb(12, 73, 255);
  font-size: 35px;
}

header {
  color: rgb(0, 18, 216);
  
  text-align: start;
  padding-left: 35px;
  padding-right: 26px;
  padding-bottom: 0px;
  margin: 12px 26px 0px 26px;
  /* background-image: url(https://garden.spoonflower.com/c/14337772/p/f/m/J0Nq-Vc9czvlskurpSM40DCj5BMYW6D9S3izTNtIkw-SSJT4bLBZYyw/Purple_waves_y2k%2C_trippy_wallpaper_purple_.jpg); */
  /* background-color: #FDC5F5; */

  border-radius: 30px;
  text-shadow: 0px 0px 16px rgb(0, 0, 0);
}

footer {
  display:flex;
}
/* Page structure // */




/* Main context */
.maintxt { /* no size*/
  display: flex;
  color:#000000; /*rgb(148, 177, 255);*/ /* inf temp */
  flex-direction: column;
  align-items: start;
  padding: 24px ;
  font-size: 40px;
  /*       /\   >    \/   <     */
  margin: 20px 36px 30px 36px;
  background-color: rgb(252, 236, 134);
  border-radius: 30px;
}
.maintxt h2 {
  margin-bottom: 2px;
}

.maintxt hr {
  width: 100%;
}

.maintxt .hr-bottom {
  width: 8%;
}

@media only screen and (max-width:600px) {
  .maintxt .hr-bottom {
    width: 24%;
  }
}

.plain_text {
  font-size: 30px;
}
/* Main context // */




/* Texts */
h1 {
  font-size: 62px;
}

h2 {
  font-size: 58px;
  margin-bottom: 2px;
}

a {
  color: rgb(127, 195, 255);
}

hr {
  background-color: black;
  min-height: 14px;
  text-align:left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:0;
  border: none;
}

.hr-bottom {
  background-color: black;
  min-height: 16px;
  text-align:left;
  margin-top: 0px;
}
/* Texts // */




/* Navigation top bar */
.topnav {
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.topnav div {
  display:flex;
  margin-left: 0px;
  gap: 16px;
  background-color: #9b54e7; /* barva nadpis */
}

.topnav #myLinks {
  display: none;
  background-color:#4c4ee4;
}

.topnav p {
  display: flex;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 6px;
  padding: 16px 12px;
  text-decoration: underline;
}

.topnav a {
  color: rgb(0, 0, 0); /* barva textu */
  padding: 16px 16px;
  text-decoration: none;
  font-size: 26px;
  display: flex;
  flex-direction: row;

}

.topnav a.icon {
  background: #ddd;
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 32px;
  
}

.topnav a:hover {
  background-color: #49a7f3;
}

.topnav a.icon img {
  height: 34px;
}

.topnav img {
  height: 60px;

}
/* Navigation top bar // */




/* Background */
/* https://t3.ftcdn.net/jpg/10/81/24/12/360_F_1081241253_vgQhjP8LzPr9BrweWwHbjPGNCoRD5ohk.jpg */
.mid {
  background-image: url(https://cdn.pixabay.com/photo/2011/12/14/12/21/christmas-background-11107_1280.jpg);
  background-attachment: fixed;
}
/* https://cdn.pixabay.com/photo/2011/12/14/12/21/christmas-background-11107_1280.jpg */
/* https://t3.ftcdn.net/jpg/10/81/24/12/360_F_1081241253_vgQhjP8LzPr9BrweWwHbjPGNCoRD5ohk.jpg */

.tel {
  background-image: url(images/Sch-cat.jpeg) ;
  background-color: #000000;
}
/* Background // */




/* Container */
.contr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contr h1 {
  font-size: 64px;
}

.contr p {
  font-size: 32px;
  margin: 4px;
  padding: 4px;
}

.contr hr {
  width: 100%;
  min-height: 8px;
  background-color: rgb(43, 187, 249);
  margin-top: 0px;
}

.pics {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  max-height: 800px;
  width: 40%;
  margin: 20px 30px 20px 10px;
}

.mobile_pics {
  display: none;
  flex-direction: column;
  align-items: center;

}

/* .contr img {
    width:calc(100% - 20px);
    height:calc(100% - 20px);
  } */

@media only screen and (max-width:1450px) {
  .contr h1 {
    font-size: 48px;
  }

  .contr p {
    font-size: 24px;
  }

  .contr .pics img{
    width: 400px;
  }
}

@media only screen and (max-width:1150px) {
  .contr .pics img{
    display: none;
  }
  }

@media only screen and (max-width:800px) {
  .contr header h1 {
    font-size: 28px;
    margin-right: -64px;
  }

  .mid h2 {
    font-size: 26px;
  }

  .mid  p {
    font-size: 18px;
  }

  .odkz .odkazy a {
    font-size: 18px;
  }

  .contr .pics{
    display: none;
  }
}
/* Container // */



/* Page */
.page {
  display: flex;
  flex-direction: column;

  background-image: url(https://cdn.pixabay.com/photo/2011/12/14/12/21/christmas-background-11107_1280.jpg);
}

.page header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin : 0px;
  padding: 0px 0px 16px 4%;

  /* color:#000000; */
  background-color: #282667a3;
  text-shadow: 0px 0px 10px #000000;
  border-radius: 0px;
}

.page .mid {
  display: flex;
  flex-direction: column;

  background-image: none;
}

.page .maintxt {
  display: flex;
  flex-direction: column;

  /* font-size: 32px;
  color: #000000; */
}

.page hr {
  width: 100%;
}

/* Page // */



/* Navigation */
.odkz {
  display: flex;
  flex-direction: column;
  background-color: #1e236c;
}

.odkz h2 {
  color: #c0e5ff;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 84px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.odkazy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.odkazy div {
  display: flex;
  justify-content: space-between;

  margin: 16px 32px 32px 32px;
}

.odkazy div a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 36px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: #62B3FF;
  border-radius: 10px;

  padding: 36px;
  margin: 12px;
}

@media only screen and (max-width:1100px) {
  .odkazy div a {
    font-size: 28px;
    padding: 28px;
    margin: 10px;
  }

  .odkazy div {
    display: flex;
    justify-content: space-between;
    margin: 8px 24px 24px 24px;
  }

  .odkz h2 {
    font-size: 64px;
  }
}

@media only screen and (max-width:800px) {
  .odkazy div a {
    font-size: 20px;
    padding: 20px;
    margin: 8px;
  }

  .odkazy div {
    display: flex;
    justify-content: space-between;
    margin: 0px 16px 16px 16px;
  }

  .odkz h2 {
    font-size: 44px;
  }
}
/* Navigation // */




/* Underline */
.underline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  border: none;
}

.underline  div {
  /* margin-left:200px; */
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 30px;
}

.underline a {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  color:#ffffff;
  text-decoration: underline;
  text-decoration-color: rgb(22, 94, 104);
  transition: text-decoration-color 0.3s linear;
}

.underline a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(98, 179, 255);
}
.structure_underline p {
  font-size: 22px;
  margin-left: 30px;
  margin-right: 30px;
  color:#ffffff;
}

.structure_underline {
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 94, 104);
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Underline // */



/*  */



/* Mobile*/
@media only screen and (max-width:400px) {
  .topnav {
    display: flex;
    flex-direction: column;
  }
  .topnav a {
    font-size: 16px;
  }
  .topnav img {
    height: 40px;
  }
 
  .topnav .icon {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 24px;
    align-items: center;
    justify-content: center;
  }

  .topnav .icon img {
    width: 28px;
  }

  .maintxt {
    font-size: 18px;
  }

  h1 {
    font-size: 32px;
  }

  .maintxt h2 {
    font-size: 28px;
  }

  .page h2 {
    font-size: 28px;
  }

  .maintxt .hr-bottom {
    min-height: 8px;
  }

  .maintxt hr {
    min-height: 6px;
  }

  header {
    margin: 6px 26px 6px 10px;
  }

  .contr header h1{
    font-size: 20px;
  }

  .mid h2 {
    font-size: 16px;
  }

  .mid p {
    font-size: 12px;
  }
  
  .maintxt a {
    font-size: 14px;
  }

  .odkz h2 {
    font-size: 16px;
  }

  .odkz .odkazy a {
    font-size: 12px;
    padding: 12px;
  }

  .structure_underline a {
    font-size: 12px;
  }

  .structure_underline p {
    font-size: 12px;
  }

  /* .mobile_pics {
    display: flex;
    width: 120px;
  } */

  .tel .contr .pics .mobile_pics {
    display: flex;
    /* position: absolute;
    max-width: 400px;
    max-height: 400px;
    width: 200px; */
}
}